<html>

   <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
  </head>
<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Ticket nuevo</h3>
    </div>
    <div class="card-body">
      <form action="/notes/new-note" method="POST">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Título del ticket" autofocus/>
        </div>
        <div class="form-group">
          <textarea name="description" class="form-control" placeholder="¿Que incidencia tienes?"></textarea>
        </div>
        <div class="form-group">
          <button id="noteCounter" class="btn btn-primary btn-block" type="submit">
            Guardar
          </button>
           <p>notas creadas: <span id="n"></span></p>
        </div>
      </form>
    </div>
          <table  width="100" height="100">
      <tr>
        <td height="100">
      
    <canvas id="myChart" width="300" height="300"></canvas>
  </td>
  </tr>
  </table>
  </div>
 
</div>

<script>

function noteCount(){
  var today= new Date();
var n = localStorage.getItem('counter');
if (n === null) {
    n = 0;
} else {
    n++;
}
console.log(n);
localStorage.setItem("counter", n);
 document.getElementById("n").innerHTML=("contador",n)
var date=today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();
 console.log(date)

     var ctx = document.getElementById("myChart");
              var myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: ["15 mayo", "16 mayo", "17 mayo","18 mayo","19 mayo","20 mayo"],
                      datasets: [{
                          label: 'Tickets creados por día',
                          data: [4,3,8,10,5,n],
                           yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
             xAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]

                      }]
                  }
              });

return n;
}
noteCount();

</script>

</html>